{% extends 'base.html' %}
{% load static %}
{% block title %}Вход{% endblock %}
{% block static %}
    <link rel="stylesheet" href="{% static "css/signin.css" %}">
{% endblock %}
{% block content %}
    <div class="text-center">
        <main class="form-signin w-100 m-auto">
            <form method="post">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong class="error-text">{{ error }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                <img class="mb-4" src="{% static 'images/service-desk.svg' %}" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Выполните вход</h1>

                <div class="form-floating">
                    <input type="text" name="username" class="form-control" id="username" placeholder="Имя пользователя">
                    <label for="username">Имя пользователя</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="password" placeholder="Пароль">
                    <label for="password">Пароль</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2022 Attractor School Python-9</p>
            </form>
        </main>
    </div>
{% endblock %}


