{% extends 'base.html' %}
{% block title %}Заявки{% endblock %}
{% block content %}
    <br>

    {% if object_list %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Фамилия и имя водителя</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.driver.last_name }} {{ ticket.driver.first_name }}</td>
                    <td class="{% if ticket.priority|capfirst == 'Высокий' %}
                    table-danger
                    {% else %}
                    table-warning
                    {% endif %}"><a href="{% url 'ticket:ticket_detail' ticket.pk %}">
                        Заявка-{{ ticket.created_at|date:"Ymd-His"}}</a></td>
                    <td>{{ ticket.received_at }}</td>
                    <td>{{ ticket.client }}</td>
                    <td>{{ ticket.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

                <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Фамилия и имя исполнителя</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.executor.last_name }} {{ ticket.executor.first_name }}</td>
                    <td class="{% if ticket.priority|capfirst == 'Высокий' %}
                    table-danger
                    {% else %}
                    table-warning
                    {% endif %}"><a href="{% url 'ticket:ticket_detail' ticket.pk %}">
                        Заявка-{{ ticket.created_at|date:"Ymd-His"}}</a></td>
                    <td>{{ ticket.received_at }}</td>
                    <td>{{ ticket.client }}</td>
                    <td>{{ ticket.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Заявок пока нет...</h2>
    {% endif %}

{% endblock %}
