{% if not fields_only %}
    {% csrf_token %}
{% endif %}
<div class="row justify-content-between">
    <div class="col-4">
        <label for="{{ form.client.id_for_label }}">{{ form.client.label }}</label>{{ form.client }}
        <label for="{{ form.service_object.id_for_label }}">{{ form.service_object.label }}</label>{{ form.service_object }}
        <label for="{{ form.priority.id_for_label }}">{{ form.priority.label }}</label>{{ form.priority }}
        <label for="{{ form.type.id_for_label }}">{{ form.type.label }}</label>{{ form.type }}
        <label for="{{ form.service_level.id_for_label }}">{{ form.service_level.label }}</label>{{ form.service_level }}
        <label for="{{ form.department.id_for_label }}">{{ form.department.label }}</label>{{ form.department }}
        <label for="{{ form.executor.id_for_label }}">{{ form.executor.label }}</label>{{ form.executor }}
        <label for="{{ form.driver.id_for_label }}">{{ form.driver.label }}</label>{{ form.driver }}
    </div>
    <div class="col-4">
        <label for="{{ form.received_at.id_for_label }}">{{ form.received_at.label }}</label>{{ form.received_at }}
        {% for error in form.received_at.errors %}
        <p class="text-danger">{{ error }}</p>
        {% endfor %}
        <label for="{{ form.desired_to.id_for_label }}">{{ form.desired_to.label }}</label>{{ form.desired_to }}
        {% for error in form.desired_to.errors %}
        <p class="text-danger">{{ error }}</p>
        {% endfor %}
        <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>{{ form.description }}
        <label for="{{ form.ride_started_at.id_for_label }}">{{ form.ride_started_at.label }}</label>{{ form.ride_started_at }}
        {% for error in form.ride_started_at.errors %}
        <p class="text-danger">{{ error }}</p>
        {% endfor %}
        <label for="{{ form.work_started_at.id_for_label }}">{{ form.work_started_at.label }}</label>{{ form.work_started_at }}
        {% for error in form.work_started_at.errors %}
        <p class="text-danger">{{ error }}</p>
        {% endfor %}
        <label for="{{ form.work_finished_at.id_for_label }}">{{ form.work_finished_at.label }}</label>{{ form.work_finished_at }}
        {% for error in form.work_finished_at.errors %}
        <p class="text-danger">{{ error }}</p>
        {% endfor %}
        <label for="{{ form.ride_finished_at.id_for_label }}">{{ form.ride_finished_at.label }}</label>{{ form.ride_finished_at }}
        {% for error in form.ride_finished_at.errors %}
        <p class="text-danger">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="col-4">
        <label for="{{ form.works.id_for_label }}">{{ form.works.label }}</label>{{ form.works }}
        <label for="{{ form.problem_areas.id_for_label }}">{{ form.problem_areas.label }}</label>{{ form.problem_areas }}
    </div>

    </div>

{% if not fields_only %}
    <input type="submit" class="btn btn-danger mt-3" value={{ button_text|default:"Сохранить" }} >
{% endif %}