{% extends 'base.html' %}
{% block title %}Запчасти{% endblock %}
{% block content %}
    <br>

    <form class="form-control" method="get">
    {{ filter.form }}
    <button class="btn btn-success btn-sm" type="submit">поиск</button>
    </form>

    {% if object_list %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Запчасть</th>
            <th scope="col">Дата назначения</th>
            <th scope="col">Назначена кем</th>
            <th scope="col">Назначена кому</th>
            <th scope="col">В количестве</th>
            <th scope="col">Статус</th>
            <th scope="col">Действие</th>
        </tr>
        </thead>
        <tbody>
         {% for spare_part in filter.qs %}
            <tr>
                <td >{{ spare_part.spare_part }}</td>
                <td>{{ spare_part.created_at }}</td>
                <td>{{ spare_part.assigned_by.last_name }} {{ spare_part.assigned_by.first_name }}</td>
                <td>{{ spare_part.engineer.last_name }} {{ spare_part.engineer.first_name }}</td>
                <td>{{ spare_part.quantity }}</td>
                <td>{{ spare_part.get_status_display }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a href="{% url "ticket:spare_part_update" spare_part.pk %}" class="btn btn-warning">Установить</a>
{#                        <a class="btn btn-warning" data-bs-target="#exampleModal" data-bs-toggle="modal">Установить</a>#}
                        <a href="{% url "ticket:spare_part_return_warehouse" spare_part.pk %}" class="btn btn-success">Возвратить</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% else %}
        <h2>Активных запчастей пока нет...</h2>
    {% endif %}
{#    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#                  <div class="modal-header">#}
{#                      <h5 class="modal-title" id="exampleModalLabel">Добавление объекта</h5>#}
{#                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                  </div>#}
{#                  <div class="modal-body">#}
{#                      <form action="" method="post">#}
{#                          {% include 'partial/form.html' with button_text='Устновить' %}#}
{#                      </form>#}
{#                  </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}