{% extends 'base.html' %}
{% block title %}Запчасти{% endblock %}
{% block content %}
    <br>

{#    <form class="form-control" method="get">#}
{#    {{ filter.form }}#}
{#    <button class="btn btn-success btn-sm" type="submit">поиск</button>#}
{#    </form>#}

    {% if object_list %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Запчасть</th>
            <th scope="col">Дата назначения</th>
            <th scope="col">Назначена кем</th>
            <th scope="col">Назначена кому</th>
            <th scope="col">В количестве</th>
        </tr>
        </thead>
        <tbody>
         {% for active_part in active_spare_parts %}
            <tr>
                <td >{{ active_part.spare_part }}</td>
                <td>{{ active_part.created_at }}</td>
                <td>{{ active_part.assigned_by.last_name }} {{ active_part.assigned_by.first_name }}</td>
                <td>{{ active_part.engineer.last_name }} {{ active_part.engineer.first_name }}</td>
                <td>{{ active_part.quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% else %}
        <h2>Активных запчастей пока нет...</h2>
    {% endif %}
{% endblock %}