{% extends 'base.html' %}
{% block title %}Удаление клиента{% endblock %}
{% block content %}
    <br>
    <div>
        <form action="{% url 'ticket:client_delete' client.pk %}" method="POST">
            {% csrf_token %}
            <div class="card text-center" style="max-width: 18rem;">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Удаление Клиента!</h5>
                    <p class="card-text">Вы действительно хотите удалить Клиента?
                        <br> {{ client.name }}</p>
                    <div class="gap-2 col-6" style="float: right">
                        <a>
                            <button class="btn btn-danger" type="submit">Да</button>
                        </a>
                        <a href="{% url 'ticket:client_detail' client.pk %}">
                            <button class="btn btn-primary" type="button">Нет</button>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}