{% extends 'base.html' %}
{% block title %}Клиенты{% endblock %}
{% block content %}
    <br>
    <div>
        <ul class="list-group">
            <li class="list-group-item">Название: {{ client.name }}</li>
            <li class="list-group-item">Сокращенное название: {{ client.short_name }}</li>
            <li class="list-group-item">Вебсайт: {{ client.website }}</li>
            <li class="list-group-item">Тип компании: {{ client.type }}</li>
            <li class="list-group-item">Адрес: {{ client.address }}</li>
            <li class="list-group-item">Страна: {{ client.country }}</li>
            <li class="list-group-item">Город: {{ client.city }}</li>
            <li class="list-group-item"><a href="{% url "ticket:client_update" client.pk %}"
                                           class="btn btn-primary">Редактировать</a></li>
            <li class="list-group-item"><a href="{% url 'ticket:client_delete' client.pk %}"
                                           class="btn btn-danger">Удалить</a></li>
            <li class="list-group-item"><a href="{% url 'ticket:client_list' %}" class="btn btn-primary"
                                           style="float: left">Назад</a></li>
        </ul>
    </div>
{% endblock %}