{% extends 'base.html' %}
{% block title %}Заявки для инженера{% endblock %}
{% block content %}
    <br>
        <div>
            <ul class="list-group">
                {% for ticket in tickets %}
                <li class="list-group-item">Клиент: {{ ticket.client }}</li>
                <li class="list-group-item">Тип компании: {{ ticket.type }}</li>
                <li class="list-group-item"><a href="{% url 'ticket:engineer_ticket_view' ticket.pk %}" class="btn btn-primary">Детальный просмотр</a></li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <hr>
{% endblock %}