{% extends 'base.html' %}
{% block title %}Отмена заявки{% endblock %}
{% block nav %} {% endblock %}
{% block content %}
    <br>
    <form action="{% url "ticket:ticket_cancel" ticket.pk %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-between">
        <div class="col-md-6">
            <label for="{{ form.cancel_reason.id_for_label }}">{{ form.cancel_reason.label }}</label>{{ form.cancel_reason }}
            {% for error in form.cancel_reason.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        </div>

        <input type="submit" class="btn btn-danger btn-sm mt-3 mx-1" value="Отменить">
        <a href="{% url "ticket:ticket_detail" ticket.pk %}"
           class="btn btn-success btn-sm mt-3" style="float: left">Не отменять</a>
    </form>
{% endblock %}

