{% extends 'base.html' %}
{% block title %}Закрытие заявки{% endblock %}
{% block nav %} {% endblock %}
{% block content %}
    <div class="py-2" id="icon-grid">
        <div class="alert alert-light fs-4 mb-0 text-dark" role="alert">
            Заявка-{{ ticket.received_at|date:"Ymd-His" }}
            <p class="text-muted" style="font-size: 12px">создана: {{ ticket.created_at }} &
                автор: {{ ticket.operator.get_full_name }}</p>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-2">
            <div class="col d-flex align-items-start">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.75em" height="1.75em" fill="currentColor"
                     class="bi bi-pc text-muted flex-shrink-0 me-3" viewBox="0 0 16 16">
                    <path d="M5 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H5Zm.5 14a.5.5 0 1 1 0 1 .5.5 0 0 1 0-1Zm2 0a.5.5 0 1 1 0 1 .5.5 0 0 1 0-1ZM5 1.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5ZM5.5 3h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1Z"/>
                </svg>
                <div>
                    <h5 class="fw-bold mb-0">Объект обслуживания</h5>
                    <p style="white-space: pre-line">{{ ticket.service_object }}
                        {{ ticket.service_object.client }}
                        {{ ticket.service_object.address|default:"Не указан" }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <form action="{% url "ticket:ticket_close" ticket.pk %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-between">
            <div class="col-md-6">
                <label for="{{ form.close_commentary.id_for_label }}">{{ form.close_commentary.label }}</label>{{ form.close_commentary }}
                {% for error in form.close_commentary.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <input type="submit" class="btn btn-dark btn-sm mt-3 mx-1" value="Закрыть">
        <a href="{% url "ticket:ticket_detail" ticket.pk %}"
           class="btn btn-success btn-sm mt-3" style="float: left">Не закрывать</a>
    </form>
{% endblock %}