{% extends 'base.html' %}
{% block title %}Закрытие заявки{% endblock %}
{% block nav %} {% endblock %}
{% block search %}{% endblock %}
{% block content %}
    <br>
    <h1>Вы уверены, что хотите закрыть Заявку-{{ ticket.created_at|date:"Ymd-His"}}?</h1>
    <form action="{% url "ticket:ticket_close" ticket.pk %}" method="post">
        {% include 'partial/form.html' with button_text="ДА" %}
    </form>
    <br>
    <p><a href="{% url "ticket:ticket_detail" ticket.pk %}" class="btn btn-primary" style="float: left">Не закрывать
        заявку</a></p>
{% endblock %}