{% extends 'base.html' %}
{% block title %}Создание заявки начальником отдела{% endblock %}
{% block nav %} {% endblock %}
{% block content %}
    <br>
    <h1>Создать заявку</h1>
    <form action="#" method="post">
        {% include 'partial/form.html' with button_text="Добавить" %}
    </form>
{% endblock %}

{% block scripts %}
    <script>
        let serviceObjects = {{ service_objects|safe }};
        let clientEl = document.getElementById("id_client");
        let serviceEl = document.getElementById("id_service_object");
        clientEl.addEventListener("change", function (e) {
            let inner = "";
            for (let i = 0; i < serviceObjects.length; i++) {
                if (serviceObjects[i]["client_id"] == clientEl.value) {
                    inner += `<option value="${serviceObjects[i][" id"]}">${serviceObjects[i]["serial_number"]}</option>`;
                }
            }
            serviceEl.innerHTML = inner;
        });
    </script>
{% endblock %}