{% extends 'base.html' %}
{% block title %}Создание заявки{% endblock %}
{% block nav %} {% endblock %}
{% block content %}
    <h3 class="text-success">Новая заявка:</h3>
    <form action="#" method="post" class="needs-validation">
        {% include 'partial/form.html' with button_text="Создать" %}
    </form>
    <br>
{% endblock %}

{% block scripts %}
    <script>
        let serviceObjects = {{ service_objects|safe }};
        let clientEl = document.getElementById("id_client");
        let serviceEl = document.getElementById("id_service_object");
        clientEl.addEventListener("change", function (e) {
            let inner = '<option value="" selected="">---------</option>';
            for (let i = 0; i < serviceObjects.length; i++) {
                if (serviceObjects[i]["client_id"] == clientEl.value) {
                    inner += `<option value="${serviceObjects[i]["id"]}">${serviceObjects[i]["serial_number"]}</option>`;
                }
            }
            serviceEl.innerHTML = inner;
        });
    </script>
{% endblock %}