{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% block title %}Заявка{% endblock %}
{% block content %}
    <div class="mt-2">
        <a href="{% url "ticket:ticket_update" ticket.id %}" class="btn btn-primary">Редактировать</a>
        <a href="{% url "ticket:spare_part_assign_create" ticket.id %}" class="btn btn-info">Назначить запчасти</a>
        {% if not ticket_canceled and is_chief %}
            <a class="btn btn-danger" href="{% url 'ticket:ticket_cancel' ticket.pk %}">Отменить заявку</a>
        {% endif %}
        {% if not ticket_closed and is_chief %}
            <a class="btn btn-warning" href="{% url 'ticket:ticket_close' ticket.pk %}">Закрыть заявку</a>
        {% endif %}
        <br><br>
    </div>
    <div>
        <h4>Заявка-{{ ticket.received_at|date:"Ymd-His"}}</h4>
        <div class="row justify-content-between">
            <div class="col-6">
                <ul class="list-group">
                    <li class="list-group-item">Оператор заполнивший
                        заявку: {{ ticket.operator.first_name }} {{ ticket.operator.last_name }}</li>
                    <li class="list-group-item">Объект обслуживания: {{ ticket.service_object }}</li>
                    <li class="list-group-item">Приоритет: {{ ticket.priority }}</li>
                    <li class="list-group-item">Тип заявки: {{ ticket.type }}</li>
                    <li class="list-group-item">Статус заявки: {{ ticket.status }}</li>
                    <li class="list-group-item">Уровень обслуживания: {{ ticket.service_level }}</li>
                    <li class="list-group-item">Департамент: {{ ticket.department }}</li>
                    <li class="list-group-item">Дата создания заявки: {{ ticket.created_at }}</li>
                    <li class="list-group-item">Дата изменения заявки: {{ ticket.updated_at }}</li>
                    <li class="list-group-item">Дата получения заявки: {{ ticket.received_at }}</li>
                    {% if ticket.desired_to %}
                        <li class="list-group-item">Желаемая дата исполнения: {{ ticket.desired_to }}</li>
                    {% endif %}
                    <nav id="nav">
                    <ul class="ul-list">
                        <li>
                            <a href="#"><i class="bi bi-plus-circle pe-1"></i>Работы</a>
                            <ul>
                                {% recursetree ticket.works.all %}
                                    <li>
                                        {{ node.name }}
                                        {% if not node.is_leaf_node %}
                                            <ul class="children">
                                                {{ children }}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endrecursetree %}
                            </ul>
                        </li>
                    </ul>
                    </nav>
                </ul>
            </div>
            <div class="col-6">
                <ul class="list-group">
                <nav id="nav">
                    <ul class="ul-list">
                        <li>
                            <a href="#"><i class="bi bi-plus-circle pe-1"></i>Проблемная область</a>
                            <ul>
                                {% recursetree ticket.problem_areas.all %}
                                    <li>
                                        {{ node.name }}
                                        {% if not node.is_leaf_node %}
                                            <ul class="children">
                                                {{ children }}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endrecursetree %}
                            </ul>
                        </li>
                    </ul>
                </nav>
                    {% if ticket.description %}
                        <li class="list-group-item">Описание: <pre>{{ ticket.description }}</pre></li>
                    {% endif %}
                    <li class="list-group-item">Исполнитель: {{ ticket.executor.last_name|default:"Не указан" }}
                    {{ ticket.executor.first_name }}</li>
                {% for ti in ticket.sparepartuser_set.all  %}
                <li class="list-group-item">Запчасть: {{ ti.spare_part }} - Колличество: {{ ti.quantity }}</li>
                {% endfor %}
                    <li class="list-group-item">Водитель: {{ ticket.driver.last_name|default:"Не указан" }}
                     {{ ticket.driver.first_name }}</li>
                    <li class="list-group-item">Дата начала работ:
                        {{ ticket.work_started_at|default:"Не указана" }}</li>
                    <li class="list-group-item">Дата окончания работ:
                        {{ ticket.work_finished_at|default:"Не указана" }}</li>
                    <li class="list-group-item">Дата начала поездки:
                        {{ ticket.ride_started_at|default:"Не указана" }}</li>
                    <li class="list-group-item">Дата окончания поездки:
                        {{ ticket.ride_finished_at|default:"Не указана" }}</li>
                    {% if ticket.cancel_reason %}
                        <li class="list-group-item">Причина отмены заявки:
                            {{ ticket.cancel_reason }}</li>
                    {% endif %}
                    {% if ticket.close_commentary %}
                        <li class="list-group-item">Комментарий к закрытию заявки:
                            {{ ticket.close_commentary }}</li>
                    {% endif %}
                    {% if ticket.work_done %}
                        <li class="list-group-item">Проделанная работа по заявке:
                            <pre>{{ ticket.work_done }}</pre></li>
                    {% endif %}
                    <li class="list-group-item">Дата закрытия заявки:
                        {{ ticket.closed_at|default:"Еще не закрыта" }}</li>
                    <li class="list-group-item" id="remaining_time">Ожидаемая дата окончания
                        работы: {{ expected_time_to_finish }}</li>
                </ul>

                {% if time_difference %}
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="progress w-25">
                                <div class="progress-bar" id="progress_bar" data-id="{{ ticket.id }}"
                                     data-time-url="{% url "ticket:ticket_time_bar" ticket.pk %}" role="progressbar"
                                     style=""
                                     aria-valuenow="25"
                                     aria-valuemin="0"
                                     aria-valuemax="100">{{ time_difference }} раб.час
                                </div>
                            </div>
                        </li>
                    </ul>
                {% endif %}

            </div>
        </div>

    </div>
    <br>
<script type="text/javascript" src="{% static 'js/works_and_problems.js' %}"></script>
{% endblock %}