{% extends 'base.html' %}
{% block title %}Заявки{% endblock %}
{% block content %}
    <br>
    {% if not user.username == 'engineer' %}
        <a href="{% url 'ticket:ticket_create' %}" class="btn btn-primary mb-5">Создать Заявку</a>
    {% endif %}
    {% for ticket in tickets %}
        <div>
            <ul class="list-group">
                <li class="list-group-item">Заявка № {{ ticket.id }}</li>
                <li class="list-group-item">Клиент: {{ ticket.client }}</li>
                <li class="list-group-item">Объект обслуживания: {{ ticket.service_object }}</li>
                <li class="list-group-item">Статус: {{ ticket.status }}</li>
                <li class="list-group-item"><a href="{% url 'ticket:ticket_detail' ticket.pk %}"
                                               class="btn btn-primary">Детальный просмотр</a></li>
            </ul>
        </div>
        <br>
        <hr>
    {% endfor %}
{% endblock %}
