{% extends 'base.html' %}
{% block title %}Заявки{% endblock %}
{% block content %}
    <br>

    {% if object_list %}
        <form class="form-control" method="get">
            {{ filter.form }}
            &nbsp;
            <button style="margin-bottom: 2px" class="btn btn-outline-success btn-sm" type="submit">Фильтровать</button>
        </form>
        <div class="">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">Заявка</th>
                <th class="d-none d-md-table-cell" scope="col">Дата получения</th>
                <th class="d-none d-sm-table-cell" scope="col">Клиент</th>
                <th class="d-none d-md-table-cell" scope="col">Объект</th>
                <th scope="col">Статус</th>
                <th class="d-none d-md-table-cell" scope="col">Прогресс</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets|dictsort:"id" reversed %}
                <tr>
                    <td class="{% if ticket.priority.name == 'Высокий' %}
                table-danger
                {% elif ticket.priority.name == 'Critical Level' %}
                table-dark
                {% else %}
                table-warning
                {% endif %}">
                        <a href="{% url 'ticket:ticket_detail' ticket.pk %}">{{ ticket }}</a>
                    </td>
                    <td class="d-none d-md-table-cell">{{ ticket.received_at }}</td>
                    <td class="d-none d-sm-table-cell">{{ ticket.client }}</td>
                    <td class="d-none d-md-table-cell">{{ ticket.service_object }}</td>
                    <td>{% if ticket.status.name == 'Подготовленный' %}
                        <span class="badge rounded-pill bg-info text-dark">{{ ticket.status }}</span>
                    {% elif ticket.status.name == 'Назначенный' %}
                        <span class="badge rounded-pill bg-warning text-dark">{{ ticket.status }}</span>
                    {% elif ticket.status.name == 'На исполнении' %}
                        <span class="badge rounded-pill bg-primary">{{ ticket.status }}</span>
                    {% elif ticket.status.name == 'Исполненный' %}
                        <span class="badge rounded-pill bg-success">{{ ticket.status }}</span>
                    {% elif ticket.status.name == 'Неопределенный' %}
                        <span class="badge rounded-pill bg-secondary">{{ ticket.status }}</span>
                    {% elif ticket.status.name == 'Завершенный' %}
                        <span class="badge rounded-pill bg-dark">{{ ticket.status }}</span>
                    {% elif ticket.status.name == 'Отмененный' %}
                        <span class="badge rounded-pill bg-danger">{{ ticket.status }}</span>
                    {% else %}
                        {{ ticket.status }}
                    {% endif %}
                    </td>
                    <td class="d-none d-md-table-cell">
                    {% if not ticket.status.name == 'Завершенный' and ticket.expected_finish_date%}
                        <div class="progress">
                    <div class="progress-bar
                    {% if ticket.buisnesstimedelta_function >= 12 and ticket.get_percentage > 0 %}
                    bg-success
                    {% elif ticket.buisnesstimedelta_function < 12 and ticket.buisnesstimedelta_function > 6 and ticket.get_percentage > 0%}

                    {% elif ticket.buisnesstimedelta_function <= 6 and ticket.buisnesstimedelta_function > 3 and ticket.get_percentage > 0 %}
                    bg-warning
                    {% elif ticket.buisnesstimedelta_function <= 3 and ticket.get_percentage > 0 %}
                    bg-danger
                    {% else %}
                    bg-danger
                    {% endif %}" role="progressbar"
                         style="{% if ticket.get_percentage < 0 %}width:100%
                             {% else %}width:{{ ticket.get_percentage|add:0 }}%{% endif %}"
                         aria-valuenow="25" aria-valuemin="0"
                         aria-valuemax="100">
                        {% if ticket.get_percentage < 0 %}
                        -
                        {% endif %}
                        {{ ticket.buisnesstimedelta_function}} раб.час
                    </div>
                </div>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% else %}
        <br>
        <h4>Заявок пока нет...</h4>
    {% endif %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
