{% extends 'base.html' %}
{% block title %}Заявки{% endblock %}
{% block content %}
    <br>

    <form class="form-control" method="get">
    {{ filter.form }}
    <button class="btn btn-success btn-sm" type="submit">поиск</button>
    </form>

    {% if object_list %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Заявка</th>
            <th scope="col">Дата получения</th>
            <th scope="col">Клиент</th>
            <th scope="col">Объект</th>
            <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in tickets|dictsort:"id" reversed %}
            <tr>
                <td class="{% if ticket.priority|capfirst == 'Высокий' %}
                table-danger
                {% else %}
                table-warning
                {% endif %}" ><a href="{% url 'ticket:ticket_detail' ticket.pk %}">
                    Заявка-{{ ticket.recieved_at|date:"Ymd-His"}}</a></td>
                <td>{{ ticket.recieved_at }}</td>
                <td>{{ ticket.client }}</td>
                <td>{{ ticket.service_object }}</td>
                <td>{{ ticket.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% else %}
        <h2>Заявок пока нет...</h2>
    {% endif %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
