{% extends 'base.html' %}
{% block title %}Редактирование заявки{% endblock %}
{% block nav %} {% endblock %}
{% block content %}
    <br>
    <h1>Редактировать заявку</h1>
    <form action="{% url "ticket:ticket_update" ticket.pk %}" method="post">
        {% include 'partial/form.html' with button_text="Сохранить" %}
    </form>
    <br>
    <p><a href="{% url "ticket:ticket_detail" ticket.pk %}" class="btn btn-primary" style="float: left">Назад</a></p>
{% endblock %}

{% block scripts %}
    <script>
        let serviceObjects = {{ service_objects|safe }};
        let clientEl = document.getElementById("id_client");
        let serviceEl = document.getElementById("id_service_object");
        clientEl.addEventListener("change", function (e) {
            let inner = "";
            for (let i = 0; i < serviceObjects.length; i++) {
                if (serviceObjects[i]["client_id"] === clientEl.value) {
                    inner += `<option value="${serviceObjects[i]["id"]}">${serviceObjects[i]["serial_number"]}</option>`;
                }
            }
            serviceEl.innerHTML = inner;
        });
    </script>
{% endblock %}