{% extends 'base.html' %}
{% block title %}Редактирование заявки для начальника отдела{% endblock %}
{% block nav %} {% endblock %}
{% block content %}
    <br>
    <h1>Редактировать заявку</h1>
        <form action="{% url "ticket:ticket_update" ticket.pk %}" method="post" >
        {% include 'partial/form.html' with button_text="Сохранить" %}
        <input type="submit" class="btn btn-danger mt-3" name="close_ticket" value={{ button_text|default:"Закрыть заявку" }} >
    </form>
    <br>
    <p><a href="{% url "ticket:ticket_detail" ticket.pk %}" class="btn btn-primary" style="float: left">Назад</a></p>
{% endblock %}